[submodule "lib/CoreRandom"]
	path = lib/CoreRandom
	url = https://github.com/AmazingCow-Libs/CoreRandom
[submodule "lib/acow_cpp_goodies"]
	path = lib/acow_cpp_goodies
	url = https://github.com/AmazingCow-Libs/acow_cpp_goodies
[submodule "lib/CoreAssert"]
	path = lib/CoreAssert
	url = https://github.com/AmazingCow-Libs/CoreAssert
[submodule "lib/CoreString"]
	path = lib/CoreString
	url = https://github.com/AmazingCow-Libs/CoreString
[submodule "lib/acow_sdl_goodies"]
	path = lib/acow_sdl_goodies
	url = https://github.com/AmazingCow-Libs/acow_sdl_goodies
[submodule "lib/CoreLog"]
	path = lib/CoreLog
	url = https://github.com/AmazingCow-Libs/CoreLog
[submodule "lib/libtermcolor"]
	path = lib/libtermcolor
	url = https://github.com/AmazingCow-Libs/libtermcolor
[submodule "lib/acow_nt_posix"]
	path = lib/acow_nt_posix
	url = https://github.com/AmazingCow-Libs/acow_nt_posix
[submodule "lib/CoreFS"]
	path = lib/CoreFS
	url = https://github.com/AmazingCow-Libs/CoreFS
[submodule "lib/acow_c_goodies"]
	path = lib/acow_c_goodies
	url = https://github.com/AmazingCow-Libs/acow_c_goodies
[submodule "lib/acow_math_goodies"]
	path = lib/acow_math_goodies
	url = https://github.com/AmazingCow-Libs/acow_math_goodies
